html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  transition: background 0.3s, color 0.3s, border 0.3s, box-shadow 0.3s;
  padding: 5px 10px;
  z-index: 1000;
}

nav h3,
nav li a {
  color: white;
  margin: 0;
  text-decoration: none;
}

nav li {
  font-weight: 400;
}

nav div {
  display: flex;
  margin-top: 5px;
  gap: 15px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none; /* Remove default list styling */
  padding: 10px 50px;
  margin: 0; /* Remove default margin */
  display: flex; /* Align list items horizontally */
  gap: 15px; /* Space between items */
}

nav ul img {
  width: 30px;
  height: 30px;
}

header {
  padding: 0;
}

.jumbotron {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  background-image: url(manokwari.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

#burger {
  display: none;
}

.jumbotron-content {
  position: relative;
  z-index: 1;
}

.jumbotron h1 {
  margin: 0px;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.jumbotron span {
  font-weight: 800;
  color: #006ec1;
}

.jumbotron p {
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

aside {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside div img {
  width: 30px;
  height: 30px;
  margin: 8px 0;
  filter: invert(0) grayscale(1) brightness(0);
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #006ec1;
    color: white;
    border: none;
    font-size: small;
    font-weight: 600;
}

article, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

section {
  padding: 20px
}

.about {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

article h1, section h1 {
  color: #006ec1;
}

.about-header {
  font-size: 20px;
  font-weight: 600;
  padding-right: 15px;
  text-align: right;
  color: #006ec1;
}

.about-content {
  padding-left: 15px;
  border-left: #006ec1 3px solid;
  text-align: justify;
}

.food .img1 {
  width: 350px;
  height: 350px;
  border-radius: 0px 60px 0px 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.food .img2 {
  width: 350px;
  height: 350px;
  border-radius: 60px 0px 60px 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.food {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.card {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  color: #006ec1;
  padding-top: 10px;
  text-align: justify;
}

.card-content p {
  text-align: justify;
}

.travel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.card-travel-1 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("./arfak_mountains.jpeg");
  background-size: cover;
  width: 250px;
  height: 400px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.card-travel-2 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("./Pantai-Yen-Beba.jpg");
  background-size: cover;
  width: 250px;
  height: 400px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.card-travel-3 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("./gunung\ meja.jpg");
  background-size: cover;
  width: 250px;
  height: 400px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.card-travel-content h3 {
  padding-top: 18em;
  padding-left: 20px;
  margin: 0;
  color: #FFF;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #006ec1;
  padding-top: 10px;
  margin-top: 50px;
}

.footer-body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-body h1 span {
  color: #003760 ;
}

.social {
  padding-left: 50px;
}

.social h3, .social p {
  margin:0;
}

.social p {
  font-size: 12px;
}

.cc {
  background-color: #004983;
  color: #FFF;
  text-align: center;
  font-size: 12px;
}

.social-image svg{
  margin-top: 10px;
  color: #FFF;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  #burger {
    display: block;
    width: 30px;
    height: 30px;
    color: white;
  }

  nav h3 {
    margin-top: 3px;
  }

  #menu {
    display: none;
  }

  nav ul {
    padding-left: 20px;
    padding-right: 20px;
  }
}
